.cards {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.card__title {
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.2;
}

.card__description {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.6;
}

.card__right::after {
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: -30px;
  inline-size: 1px;
  block-size: 100%;
  background: linear-gradient(to bottom, black, white, black);
}

.card__left::before {
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: -30px;
  inline-size: 1px;
  block-size: 100%;
  background: linear-gradient(to bottom, black, white, black);
}

.card__right {
  align-self: flex-end;
  flex-grow: 0;
  position: relative;
  padding-block: 40px;
  padding-inline-end: 40px;
  margin-left: 50%;
}
.card__left {
  align-self: flex-start;
  flex-grow: 0;
  max-inline-size: 50%;
  position: relative;
  padding-block: 40px;
}
