@import "~sass-mq/mq";

.project__cards {
  display: grid;
  grid-template-columns: 1fr;
  padding-block-start: 20px;
  column-gap: 64px;
  row-gap: 120px;

  @include mq(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mq(desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project__cards_horizontal {
  row-gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  gap: 36px;
  transition: opacity 2s ease-in-out;
  animation: slideIn 1s ease-in-out forwards;

  h3 {
    transition: color 0.3s ease-in-out;
    text-underline-offset: 3px;
  }

  &:hover {
    .project__image {
      transform: scale(1.1);
    }
    .project__title {
      color: var(--primary-white);
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.project__image_container {
  position: relative;
  min-height: 80px;
  width: 80px;
}

.project__cards_no_overflow {
  .project__image_container {
    overflow: hidden;
    min-height: 160px;
    width: 100%;
  }

  .project__description {
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
}
.project__image {
  object-fit: fill;
  transition: transform 0.5s ease-in-out;
}

.cardfeatured {
  @include mq(tablet) {
    grid-column: 1 / span 2;
  }
  @include mq(desktop) {
    grid-column: 1 / span 3;
  }
}

.cardfeatured.card {
  flex-direction: row;
  align-items: center;
}

.cardfeatured .project__image_container {
  flex: 0 1 40%;
}

.project__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

.cardfeatured .project__content {
  flex: 0 1 60%;
}

.card:nth-of-type(n + 2)::after {
  position: absolute;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #444, #fff);
  top: 0;
  left: -32px;
}

.cardfeatured ~ .card:nth-of-type(3n + 3)::after {
  content: "";
}
.cardfeatured ~ .card:nth-of-type(3n + 4)::after {
  content: "";
}

:not(.cardfeatured):first-child ~ .card::after {
  content: "";
}

p.project__subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #999;
  margin-block-end: 0;
}

.rowCards .project__title {
  font-weight: 700;
  line-height: 1.2;
  text-align: left;

  color: var(--secondary-white);
}

p.project__description {
  color: var(--secondary-white);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: var(--primary-white);
  font-weight: 300;
  font-size: 0.875rem;
  letter-spacing: 1px;
}
