.contact__btn {
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: uppercase;
  padding-block: 0.875rem;
  padding-inline: 2.5rem;
  border: 1px solid var(--primary-white);
  background-color: transparent;
  inline-size: fit-content;
  margin-block-start: 50px;
  color: var(--primary-white);
}
