@import "~sass-mq/mq";

.header {
  block-size: 100px;
  display: flex;
  align-items: center;
  background-color: #121212;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  inline-size: 100%;
  align-items: center;
  padding-inline-start: 30px;
  margin-inline: auto;
  padding-inline: 20px;

  @include mq(tablet) {
    padding-inline: 60px;
  }
}

//<ul>
.navMenu {
  justify-self: center;
  display: none;
  list-style-type: none;
  @include mq(tablet) {
    display: flex;
    gap: 48px;
    padding: 10px;
  }
}

//<li>
.navMenuItem {
  padding-block: 4px;
  transition: transform 0.3s ease-in-out;
}

.navMenuLink {
  text-decoration: none;
  color: var(--secondary-white);
  font-weight: 300;
  font-size: 1rem;
  position: relative;
  transition: color 0.5s ease-out;
}

.navMenuLink::after {
  position: absolute;
  inline-size: 0;
  block-size: 100%;
  inset-inline-start: -1px;
  inset-block-end: -3px;
  content: "";
  height: 0.8px;
  background: linear-gradient(to right, var(--primary-white), var(--dark-gray));
  transition: width 0.3s ease-in-out;
}

.menu__active::after,
.navMenuItem:hover .navMenuLink::after {
  inline-size: 120%;
}

//mobile
.navigation__mobile_menu {
  margin-top: -24px;
  list-style: none;

  a {
    color: var(--primary-white);
  }
}

.navigation__mobile_menu_trigger {
  font-size: 30px;
  background: none;
  border: none;
  padding: 0;
  line-height: 0.8;
  width: 30px;
  block-size: 30px;
  color: var(--primary-white);

  @include mq(tablet) {
    display: none;
  }

  &.active {
    &:before {
      content: "";
      inline-size: 25px;
      block-size: 3px;
      background: white;
      margin: auto;
      position: absolute;
      transform: rotate(45deg);
      inset-inline-end: 0;
    }
    &:after {
      content: "";
      inline-size: 25px;
      block-size: 3px;
      background: white;
      margin: auto;
      transform: rotate(135deg);
      position: absolute;
      inset-inline-end: 0;
    }
  }
}

.navigation__mobile_menu_trigger {
  position: absolute;
  inset-inline-end: 20px;
  inset-block-start: 25px;
}

.navigation__mobile_menu_container.active {
  position: fixed;
  z-index: 100;
  background: black;
  block-size: 100vh;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navActions {
  display: none;
  @include mq(tablet) {
    display: flex;
    gap: 20px;
    justify-self: end;
  }
}
