@import "~sass-mq/mq";

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #151515;
  width: 95%;
  max-width: 600px;
  max-height: 95%;
  overflow-y: auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 24px;
  color: var(--primary-white);
  text-align: start;

  @include mq(tablet) {
    padding: 48px;
    width: 80%;
    max-height: 80%;
  }
}

.imageContainer {
  overflow: hidden;
  aspect-ratio: 16/9;
  position: relative;
  max-block-size: 240px;
  width: 100%;
  border-radius: 8px;
}

.modalImage {
  height: auto;
  object-fit: cover;
}

.textContent {
  padding-block-start: 24px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modalTitle {
  font-size: 1.8rem;
  font-weight: bold;
}

.modalDescription {
  font-size: 1rem;
  line-height: 1.5;
  color: #999;
  margin-bottom: 32px;
}

.projectImpact {
  margin-top: 20px;
  text-align: left;

  h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    color: #999;
  }
}

.techStack {
  text-align: left;
  display: flex;
  gap: 10px;
}

.closeButton {
  position: absolute;
  top: 0px;
  right: 8px;
  background: none;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--primary-white);
  z-index: 2;
}
