.grid {
  margin-block-start: 16px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 250px);
  grid-template-areas:
    "card0 card0 card1"
    "card2 card3 card1";
}

.card0 {
  grid-area: card0;
}
.card1 {
  grid-area: card1;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.card2 {
  grid-area: card2;
}
.card3 {
  grid-area: card3;
}

.seeMore {
  margin-top: 48px;
  @media (max-width: 768px) {
    margin-block-end: 48px;
  }
}
