@import "~sass-mq/mq";
@import "ui";

.blogHeader h1 {
  @include title(2.5rem, 3.5rem);
  margin-bottom: 1rem;
}

.blogHeader p {
  color: var(--text-2);
  font-size: 1.0625rem;
  max-inline-size: 65ch;
}

.blogHeader {
  margin-block-end: 3rem;
}
