@import "~sass-mq/mq";

#rect1005 {
  x: 700;
}

.scurve__inner {
  gap: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scurve__content {
  gap: 20px;
  flex: 2 0 55%;
  display: flex;
  flex-direction: column;
}

.scurve__media {
  display: none;
  @include mq(tablet) {
    flex: 1 1 30%;
    display: block;
  }
}

.scurve a {
  color: var(--primary-white);
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}
