@import "~sass-mq/mq";

#rect1005 {
  x: 700;
}

.scurve__inner {
  gap: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  position: relative;

  @include mq(tablet) {
    padding: 48px;
    padding: 24px;
  }
}

.scurve__inner::before {
  content: "";
  position: absolute;
  inset-block-end: 60px;
  inset-inline-start: -30px;
  inline-size: 1px;
  block-size: 100%;
  background: linear-gradient(to bottom, black 10%, white 50%, black 100%);
}

.scurve__inner:after {
  content: "";
  position: absolute;
  inline-size: 60px;
  block-size: 60px;
  inset-inline-start: -60px;
  bottom: -20px;
  background-image: url("../../../../../public/pattern2.svg");
  background-size: auto;
  background-repeat: no-repeat;

  @include mq(tablet) {
    inline-size: 80px;
    block-size: 80px;
  }
}

.scurve__content {
  gap: 20px;
  flex: 2 0 55%;
  display: flex;
  flex-direction: column;
}

.scurve__media {
  display: none;
  @include mq(tablet) {
    flex: 1 1 30%;
    display: block;
  }
}

.scurve a {
  color: var(--primary-white);
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}
