@import "~sass-mq/mq";

.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  gap: 36px;
  transition: opacity 2s ease-in-out;
  animation: slideIn 1s ease-in-out forwards;
  cursor: pointer;

  h3 {
    transition: color 0.3s ease-in-out;
    text-underline-offset: 3px;
    color: var(--secondary-white);
    line-height: 1.2;
  }

  &:hover {
    .cardImage {
      transform: scale(1.1);
    }
    h3 {
      color: var(--primary-white);
    }
  }
}

.cardfeatured {
  @include mq(tablet) {
    grid-column: 1 / span 2;
  }
  @include mq(desktop) {
    grid-column: 1 / span 3;
  }
}

.cardfeatured.card {
  flex-direction: column;
  align-items: center;

  @include mq(tablet) {
    flex-direction: row;
  }

  .cardTitle {
    font-size: 1.5rem;
  }
}

.cardfeatured .cardImageContainer {
  flex: 0 1 50%;
  min-block-size: 220px !important;

  img {
    object-fit: cover;
    object-position: top left;
  }
}

.cardfeatured .cardContent {
  flex: 0 1 60%;
}

.card:nth-of-type(n + 2)::after {
  position: absolute;
  inline-size: 1px;
  block-size: 100%;
  background: linear-gradient(to bottom, transparent, var(--dark-gray), var(--primary-white));
  top: 0;
  left: -32px;
}

//to create the separation line between cards
.cardfeatured ~ .card:nth-of-type(3n + 3)::after {
  content: "";
}
.cardfeatured ~ .card:nth-of-type(3n + 4)::after {
  content: "";
}

:not(.cardfeatured):first-child ~ .card::after {
  content: "";
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

p.cardSubtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #999;
  margin-block-end: 0;
}

p.cardDescription {
  color: var(--secondary-white);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cardImageContainer {
  position: relative;
  min-block-size: 80px;
  width: 80px;
}

.cardImage {
  object-fit: fill;
  transition: transform 0.5s ease-in-out;
}

.link {
  text-decoration: none;
  color: var(--primary-white);
  font-weight: 300;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

.cardIcons {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.cardIcons * {
  width: 20px;
  height: 20px;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
