@import "~sass-mq/mq";

.contactSection__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 64px;
  text-align: center;

  @include mq(tablet) {
    flex-direction: row;
    text-align: left;
  }
}

.contactSection__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    color: var(--primary-white);
  }

  h1 {
    font-size: 48px;
    font-family: var(--font-montserrat);
    line-height: 1.2;
    letter-spacing: -0.5%;
    margin-block-end: 16px;
    color: var(--primary-white);
  }

  p {
    margin-block-end: 16px;
    color: var(--primary-white);
  }
}

.contactSection__content__inline {
  gap: 48px;
  justify-content: flex-start;

  h2 {
    font-size: 32px;
    font-family: var(--font-montserrat);
    line-height: 1.2;
    letter-spacing: -0.5%;
    color: var(--primary-white);
  }
}

.contactSection__social {
  padding-block-end: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;

  @include mq(tablet) {
    justify-content: flex-start;
  }
}

.btn {
  align-self: center;
  flex-shrink: 0;
}

.svg {
  fill: #ddd;
  transition: all 0.3s ease-in-out;
}

.svg:hover {
  fill: white;
  transform: scale(1.1);
}
