.blog {
  margin-block: 100px;
  max-inline-size: 1024px;
  margin-inline: auto;
}

.blog__title {
  color: var(--primary-white);
  font-size: 4rem;
  font-weight: 700;
  margin-block-end: 80px;
  margin-block-start: 20px;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

.blog__subtitle {
  color: var(--primary-white);
  font-size: 1.2rem;
  font-weight: 300;
  margin-block-end: 40px;
}

.blog__tags {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-block-end: 80px;
}

.blog__tags li {
  border-radius: 50px;
  border: 1px solid var(--primary-white);
  padding-block: 6px;
  padding-inline: 20px;
  font-weight: 100;
}

.blog__image {
  background-color: var(--primary-white);
  width: 100%;
  margin-block-end: 80px;
  object-fit: cover;
  object-position: center right;
}

.blog p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-block-end: 1rem;
  font-weight: 400;
  color: var(--secondary-white);
  margin-block-end: 1.5rem;
}

.blog h2 {
  margin-block-end: 1.5rem;
  margin-block-start: 2.5rem;
}
