@import "~sass-mq/mq";

.rowCards {
  display: grid;
  grid-template-columns: 1fr;
  padding-block-start: 20px;
  column-gap: 64px;
  row-gap: 24px;

  @include mq(tablet) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
  }
  @include mq(desktop) {
    grid-template-columns: repeat(3, 1fr);
  }

  & > div {
    padding: 32px;
    padding-inline-end: 16px;
    border: 1px solid transparent;
    position: relative;
    transition: border-color 0.2s ease-in-out;

    &::after,
    &::before {
      position: absolute;
      block-size: 0;
      content: "";
      width: 1px;
      background-color: var(--primary-white);
      transition: width 0.3s ease-in-out;
      inset-inline-end: 0;
      inset-block-end: -1px;
    }

    &::after {
      inset-inline-start: 0;
      inset-block-end: -1px;
    }

    &::before {
      inset-inline-end: 0;
      inset-block-start: -1px;
    }

    &:hover {
      border-inline: 1px solid transparent;
      border-block: 1px solid var(--primary-white);

      &::after,
      &::before {
        animation: line 0.4s ease-in-out both;
      }
    }
  }
}

@keyframes line {
  0% {
    block-size: 0;
  }
  100% {
    block-size: 20%;
  }
}

.rowCards__horizontal {
  row-gap: 48px;
}

.rowCardsTitle {
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  color: var(--secondary-white);
}

.rowCards__noOverflow {
  a > div:first-of-type {
    overflow: hidden;
    min-block-size: 160px;
    width: 100%;
  }

  a > div:last-of-type > p:last-of-type {
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
}

.rowCards__container {
  padding-block-end: 2rem;
}

.cardfeatured {
  @include mq(tablet) {
    grid-column: 1 / span 2;
  }
  @include mq(desktop) {
    grid-column: 1 / span 3;
  }
}

