@import "~sass-mq/mq";
@import "ui";

.newsletter {
  padding-block: 60px;
  font-family: var(--font-montserrat);

  @include mq(desktop) {
    padding-block: 80px;
  }
}

.newsletter__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 40px 24px;
  text-align: center;
  @include statement;

  @include mq(desktop) {
    flex-direction: row;
    justify-content: space-between;
    padding: 48px;
    text-align: start;
  }
}

.newsletter__content {
  max-width: 480px;
}

.newsletter__title {
  margin-block-end: 12px;
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 1.625rem;
  letter-spacing: -0.5px;
  color: var(--text-1);
}

.newsletter__embed {
  max-width: 100%;
  border-radius: var(--border-radius);
}
