@import "~sass-mq/mq";

.section,
.projects,
.contact,
.masthead,
.scurve,
.blogHome {
  padding-block: 40px;
  font-family: var(--font-montserrat);

  @include mq(tablet) {
    padding-block: 80px;
  }

  @include mq(desktop) {
    padding-block: 120px;
  }
}

.masthead {
  padding-block-start: 0;
}

.projects {
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;

  @include mq(tablet) {
    padding-inline: 60px;
  }
  @include mq(desktop) {
    max-inline-size: 1280px;
    padding-inline: 160px;
  }

  .container {
    padding-inline: 0;
  }
}

.btn {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 1rem;
  padding-block: 0.875rem;
  padding-inline: 2.5rem;
  border: 1px solid var(--primary-white);
  background-color: transparent;
  inline-size: fit-content;
  margin-block-start: 32px;
  color: var(--primary-white);
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  border-block: 1px solid transparent;
  background-color: black;
}

@keyframes cta {
  0% {
    inline-size: 0;
  }
  100% {
    inline-size: 100%;
  }
}

.btn:hover::after,
.btn:hover::before {
  animation: cta 0.5s ease-in-out both;
}

.btn::after,
.btn::before {
  position: absolute;
  inline-size: 100%;
  content: "";
  height: 1px;
  background-color: var(--primary-white);
  transition: width 0.3s ease-in-out;
}

.btn::after {
  inset-inline-start: 0;
  inset-block-end: -1px;
}
.btn::before {
  inset-inline-end: 0;
  inset-block-start: -1px;
}

.section__title {
  margin-block-end: 40px;
  font-size: 2rem;
  letter-spacing: -0.5px;
  position: relative;
  color: var(--primary-white);
}

.section__text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--secondary-white);
}

.visually_hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
