.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 60px;
}

//<ul>
.footerMenu {
  width: 100%;
  display: flex;
  gap: 48px;
  padding: 40px;
}

//<li>
.footerMenuItem {
  list-style: none;
  color: var(--primary-white);
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1px;
  position: relative;
  transition: color 0.5s ease-out;
}

.footerMenuItem:hover .footerMenuLink::after {
  inline-size: 120%;
}

.footerMenuLink::after {
  position: absolute;
  inline-size: 0;
  block-size: 100%;
  inset-inline-start: -1px;
  inset-block-end: -3px;
  content: "";
  height: 0.8px;
  background: linear-gradient(to right, var(--primary-white), var(--dark-gray));
  transition: width 0.3s ease-in-out;
}

.footerMenu__active::after,
.footerMenuItem:active {
  inline-size: 120%;
}

.footerCopy {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  color: var(--secondary-white);
}
