@import "~sass-mq/mq";

.blog {
  margin-block: 60px;
  max-inline-size: 1024px;
  margin-inline: auto;
  font-family: var(--font-montserrat);

  @include mq(tablet) {
    margin-block: 100px;
  }
}

.blogCardsContainer div {
  padding: 0;
}

.blogCardsContainer section {
  padding-top: 48px;
}

.blog h2 {
  font-family: var(--font-poppins) !important;
}

.blog__title {
  color: var(--primary-white);
  font-size: 2rem;
  font-weight: 700;
  margin-block-end: 40px;
  margin-block-start: 20px;
  line-height: 1.2;

  @include mq(tablet) {
    font-size: 2.5rem;
    margin-block-end: 80px;
  }

  @include mq(desktop) {
    font-size: 3rem;
  }
}

.blog__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  margin-block-end: 80px;
}

.blog__tags li {
  border-radius: 50px;
  border: 1px solid var(--primary-white);
  padding-block: 6px;
  padding-inline: 30px;
  font-weight: 100;
}

.blog__image {
  background-color: var(--primary-white);
  width: 100%;
  margin-block-end: 40px;
  object-fit: cover;
  object-position: center right;

  @include mq(tablet) {
    margin-block-end: 80px;
  }
}

.blog p {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  color: var(--secondary-white);
  margin-block-end: 1.5rem;

  @include mq(desktop) {
    font-size: 1.1rem;
  }
}

.blog ul {
  margin-inline-start: 2rem;
}

.blog li p {
  margin-inline-start: 0.5rem;
}

//lists inside articles contain a <p> tag, so we need to remove the margin-bottom
.blog li:not(:last-child) p {
  margin-block-end: 0.5rem;
}

.blog h2 {
  margin-block-end: 1.5rem;
  margin-block-start: 2.5rem;
}

p.blog__subtitle {
  font-size: 1rem;
  margin-block-end: 0;
  color: #aaa;
}
