.tech-icon {
  position: relative;
  display: inline-block;
  font-size: 1.25rem;
  color: #e0e0e0;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  &:hover .tech-icon__tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateY(-110%);
  }
}

.tech-icon__tooltip {
  position: absolute;
  left: 0%;
  bottom: 100%;
  transform: translateX(-50%) translateY(-100%);
  background-color: rgba(0, 0, 0, 0.85);
  border: 1px solid white;

  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, transform 0.2s ease;
  pointer-events: none;
  z-index: 10;
}
