.project__title {
  text-align: left;
}

.project__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-block-start: 20px;
  column-gap: 80px;
  row-gap: 120px;
}

.project__card {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  gap: 40px;
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.project__image_container {
  inline-size: 100%;
  block-size: 180px;
  position: relative;
}

.project__image {
  object-fit: cover;
}

.project__cardfeatured {
  grid-column: 1 / span 3;
}

.project__cardfeatured.project__card {
  flex-direction: row;
  align-items: center;
}

.project__cardfeatured .project__image_container {
  flex: 0 1 40%;
}

.project__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.project__cardfeatured .project__content {
  flex: 0 1 60%;
}

.project__card:nth-of-type(n + 2)::after {
  position: absolute;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #444, #fff);
  top: 0;
  left: -40px;
}

.project__cardfeatured ~ .project__card:nth-of-type(3n + 3)::after {
  content: "";
}
.project__cardfeatured ~ .project__card:nth-of-type(3n + 4)::after {
  content: "";
}

:not(.project__cardfeatured):first-child ~ .project__card::after {
  content: "";
}

.project__subtitle {
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--secondary-white);
}

.project__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  color: var(--primary-white);
  margin-top: -15px;
}

.project__description {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.6;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: var(--primary-white);
  font-weight: 300;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
