@import "~sass-mq/mq";

.masthead__inner {
  display: flex;
  align-items: center;
  block-size: calc(90vh - 120px);

  @include mq(tablet) {
    block-size: calc(100vh - 100px);
  }
}

.masthead__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;

  svg {
    display: none;

    @include mq(tablet) {
      display: block;
    }
  }
}

.masthead__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1.2;
  letter-spacing: -1.5px;
  max-inline-size: 680px;
  color: var(--primary-white);

  @include mq(tablet) {
    font-size: 2.5rem;
  }
  @include mq(desktop) {
    font-size: 3rem;
  }
}

.masthead__description {
  line-height: 1.5;
  font-weight: 300;
  max-width: 580px;
  color: var(--tertiary-white);
  margin-block-start: 2.2rem;
}

.masthead__btn {
  font-weight: 400;
  line-height: 1.2;
  padding-block: 0.875rem;
  padding-inline: 1.4rem;
  border: 1px solid transparent;
  background-color: #121212;
  inline-size: fit-content;
  margin-block-start: 2rem;
  color: var(--primary-white);
  background-color: #3d0e9a;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  transition: padding-inline 0.5s ease-in-out;

  @include mq(tablet) {
    padding-inline: 2.5rem;
  }
}

.masthead__btn:hover {
  cursor: pointer;
  border-block: 1px solid transparent;
  background-color: #4c15bb;
  border-inline: 1px solid var(--primary-white);
  border-radius: 0;
  padding-inline: 1.6rem;

  @include mq(tablet) {
    padding-inline: 5rem;
  }
}

@keyframes cta {
  0% {
    inline-size: 0;
  }
  100% {
    inline-size: 100%;
  }
}

.masthead__btn:hover::after,
.masthead__btn:hover::before {
  animation: cta 0.5s ease-in-out both;
}

.masthead__btn::after,
.masthead__btn::before {
  position: absolute;
  inline-size: 0;
  content: "";
  height: 1px;
  background-color: var(--primary-white);
  transition: width 0.3s ease-in-out;
}

.masthead__btn::after {
  inset-inline-start: 0;
  inset-block-end: -1px;
}
.masthead__btn::before {
  inset-inline-end: 0;
  inset-block-start: -1px;
}
