@import "~sass-mq/mq";

.header {
  height: 100px;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  width: 100%;
  align-items: center;
  padding-inline-start: 30px;
}

.navigation__menu {
  display: none;

  @include mq(tablet) {
    display: flex;
    gap: 48px;
    padding: 40px;
    margin-left: auto;
  }
}

.navigation__mobile_menu_trigger {
  display: block;
  margin-left: auto;
  font-size: 32px;
  background: none;
  border: none;
  padding: 0;
  padding-right: 20px;
  padding-block-start: 10px;
  padding-block-end: 20px;
  line-height: 1;
  color: var(--primary-white);
  position: relative;

  @include mq(tablet) {
    display: none;
  }

  &.active {
    &:before {
      content: "";
      inline-size: 20px;
      block-size: 3px;
      background: white;
      inset-inline-end: 25px;
      margin: auto;
      position: absolute;
      transform: rotate(45deg);
    }
    &:after {
      content: "";
      inline-size: 20px;
      block-size: 3px;
      background: white;
      inset-inline-end: 25px;
      margin: auto;
      transform: rotate(135deg);
      position: absolute;
    }
  }
}

.navigation__mobile_menu {
  position: fixed;
  margin: 100px;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  block-size: 100vh;
  background: black;
  padding: 40px;
  z-index: 100;
}

.navigation__mobile_menu_active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu__item {
  list-style: none;
}

.menu__link {
  text-decoration: none;
  color: var(--primary-white);
  font-weight: 300;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
}

.menu__item:hover .menu__link::after {
  inline-size: 100%;
}

.menu__link::after {
  position: absolute;
  inline-size: 0;
  block-size: 100%;
  inset-inline-start: 0;
  inset-block-end: 0;
  content: "";
  height: 1px;
  background-color: var(--primary-white);
  transition: width 0.3s ease-in-out;
}
